<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="classpath:spring/spring-config.xml" />
	<import resource="classpath:spring/perf4j-context.xml" />
	<import resource="classpath:spring/rest-services.xml" />
	<import resource="classpath:spring/elasticsearch-server.xml" />
	<import resource="classpath:spring/spring-data-elasticsearch-context.xml" />

</beans>